{% extends "base.html" %}
{% block content %}
<h2>Clientes</h2>
<div class="d-flex justify-content-between align-items-center mb-4">
    
    <a href="/clients/new" class="btn btn-success">+ Novo Cliente</a>

    <a href="/shows" class="btn btn-danger">← Voltar</a>

</div>

<table class="table table-dark table-striped">
    <thead>
        <tr><th>Nome</th><th>Telefone</th><th>Email</th></tr>
    </thead>
    <tbody>
        {% for c in clients %}
        <tr>
            <td>{{ c.name }}</td>
            <td>{{ c.phone }}</td>
            <td>{{ c.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
