{% extends "base.html" %}
{% block content %}
<h2>Clientes</h2>
<a class="btn btn-success mb-3" href="/clients/new">+ Novo Cliente</a>

<table class="table table-dark table-striped">
    <thead>
        <tr><th>Nome</th><th>Telefone</th><th>Email</th></tr>
    </thead>
    <tbody>
        {% for c in clients %}
        <tr>
            <td>{{ c.name }}</td>
            <td>{{ c.phone }}</td>
            <td>{{ c.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
