{% extends "base.html" %}
{% block content %}
<h2>{% if client %}Editar Cliente{% else %}Novo Cliente{% endif %}</h2>

<form method="POST">
    <label>Nome</label>
    <input class="form-control mb-2" name="name" value="{{ client.name if client else '' }}">

    <label>Telefone</label>
    <input class="form-control mb-2" name="phone" value="{{ client.phone if client else '' }}">

    <label>Email</label>
    <input class="form-control mb-3" name="email" value="{{ client.email if client else '' }}">

    <div class="d-flex gap-3 mt-4">
        <button class="btn btn-primary flex-fill">Salvar</button>
        <a href="/clients" class="btn btn-danger flex-fill">← Voltar</a>
    </div>
</form>
{% endblock %}
